@font-face {
  font-family: Aileron;
  src: url(../assets/fonts/Aileron-Font-Webkit/Aileron-Bold.woff2);
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #020014;
  overflow: hidden;
  font-family: "Matrice", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: block;
}

@media (min-width: 992px) {
  body {
    align-items: center;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
@font-face {
  font-family: "Matrice";
  src: url("fonts/Matrice Bold.otf") format("off2"),
    url("fonts/Matrice Bold.otf") format("woff");
} */

canvas {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.home-nav {
  z-index: 100;
  position: sticky;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-list {
  display: flex;
  list-style: none;
  flex-basis: 80%;
  padding-right: 10px;
  font-size: 20px;
  gap: 30px;
}

.link-list a {
  text-decoration: none;
  color: white;
}

.image {
  height: 170px;
  overflow: hidden;
  z-index: 100;
}

.nav-image {
  height: 40px;
  overflow: hidden;
}

.nav-image img {
  height: 100%;
  object-fit: contain;
}

.image img {
  height: 100%;
  object-fit: contain;
}

.title1 {
  display: block;
  font-size: 6em;
  letter-spacing: 1px;
  color: #ccc;
}

.subtitle {
  display: block;
  font-size: 1em;
  letter-spacing: 2px;
  color: #999;
}

.active {
  color: #3a25ef;
}

.fade-in2 {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

/* .pages-container {
  background-image: url("../assets/Background-gif.mp4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

canvas {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
/* the landing page css */
.we_exist {
  color: white;
  font-family: Aileron;
  font-size: 30px;
  font-weight: bold;
}
.word_raise {
  color: white;
  font-family: Aileron;
  font-size: 2rem;
  line-height: 40px;
  inline-size: 700px;
  margin-top: 20px;
  font-weight: bold;
  width: 600px;
  max-width: 100%;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  line-height: ;
}

@media (min-width: 320px) {
  .word_raise {
    font-size: 3rem;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .word_raise {
    font-size: 4rem;
    line-height: 90px;
  }
}

@media (min-width: 1800px) {
  .word_raise {
    font-size: 6rem;
    line-height: 116px;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.words_section {
  padding-top: 80px;
}

@media (max-width: 500px) {
  .words_section {
    padding-top: 40px;
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.buttons_section {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .buttons_section {
    bottom: 8rem;
  }
}

@media (max-width: 500px) {
  .buttons_section {
    display: flex;
    flex-direction: column;
    bottom: 0;
    row-gap: 10px;
  }

  .buttons_section .cta {
    font-size: 14px;
  }
}

.home-hero {
  height: calc(100dvh - 230px);
}

.to_the_game {
  background-color: transparent;
  border: none;
  text-align: center;
}
.to_the_site {
  background-color: transparent;
  border: none;
}
.To_site_word {
  padding-top: 5px;
}
.To_game_word {
  padding-top: 5px;
}

.a_link {
  text-decoration: none;
  color: white;
  font-family: Aileron;
  font-size: 20px;
  display: flex;
}
.logo_for_welcome {
  margin-top: 4rem !important;
}

@media (max-width: 500px) {
  .logo_for_welcome {
    margin-top: 3rem !important;
  }
}

.cta {
  display: flex;
  padding: 10px 25px;
  text-decoration: none;
  font-family: Aileron;
  font-size: 20px;
  color: white;
  background: #050221;
  transition: 1s;
  box-shadow: 6px 6px 0 rgba(255, 253, 253, 0.301);
  transform: skewX(-15deg);
}
.svg_home {
  margin-top: 1px;
  margin-left: -10px;
}
.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  /* box-shadow: 10px 10px 0 #b4d6fb; */
  box-shadow: 10px 10px 0 #b3d5fc;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #d95966;
  }
  100% {
    fill: white;
  }
}
video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
